# Copyright (c) 2024 Infineon Technologies AG
# SPDX-License-Identifier: Apache-2.0

config GPIO_TC3XX
	bool "GPIO Driver for TC3xx family of MCUs"
	default y
	depends on DT_HAS_INFINEON_TC3XX_GPIO_ENABLED
	help
	  Enable GPIO driver for TC3xx family of MCUs
