# Copyright 2024 Infineon Technologies AG
# SPDX-License-Identifier: Apache-2.0


config SOC_FAMILY_INFINEON_AURIX
	bool

config SOC_SERIES_TC3XX
	bool
	help
	  Enable support for TC3XX MCU series

config SOC_FAMILY
	default "infineon_aurix" if SOC_FAMILY_INFINEON_AURIX


rsource "*/Kconfig.soc"
