/*
 * Copyright (c) 2024 Infineon Technologies AG
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <infineon/tc375tp.dtsi>

/ {
	model = "Infineon TC375 LiteKit";
	compatible = "infineon,kit_a2g_tc375_lite", "infineon,tc375tp",
						"infineon,tc3xx";

	chosen {
		zephyr,flash = &flash0;
		zephyr,sram = &dsram0;
		zephyr,itcm = &psram0;
		zephyr,console = &uart0;
		infineon,tc3xx-stm = &stm0;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&p0 5 GPIO_ACTIVE_LOW>;
		};
		led1: led_1 {
			gpios = <&p0 6 GPIO_ACTIVE_LOW>;
		};
	};

	aliases {
		led0 = &led0;
    };
};

&fosc {
	clock-frequency = <DT_FREQ_M(20)>;
	status = "okay";
};

&stm0 {
	status = "okay";
	freeze;
};

&p0 {
	status = "okay";
};

&uart0 {
	status = "okay";
	pinctrl-0 = <&asclin0_tx_p14_0>, <&asclin0_rx_p14_1>;
	pinctrl-names = "default";
};

&geth0 {
	status = "okay";
	pinctrl-0 = <&geth_refclk_p11_12>, <&geth_rxdv_p11_11>, <&geth_rxd0_p11_10>, 
				<&geth_rxd1_p11_9>, <&geth_txen_p11_6>, <&geth_txd0_p11_3>, 
				<&geth_txd1_p11_2>;
	pinctrl-names = "default";
	phy-connection-type = "rmii";
	phy-handle = <&phy>;
};

&mdio0 {
	status = "okay";
	
	pinctrl-0 = <&geth_mdc_p21_2>, <&geth_mdio_p21_3>;
	pinctrl-names = "default";

	phy: ethernet-phy@0 {
		compatible = "ethernet-phy";
		reg = <0>;
	};
};